.md-padding{
    padding: 8px !important;
    margin: 0px !important;
    margin-bottom: 5px !important;
}
.testefont{
    color: yellow !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: bolder !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
}
md-nav-bar md-nav-ink-bar {
    background: yellow !important;
}
.glyphicon-user{
    color:yellow !important;
}