
<md-content class="md-padding" md-theme="temaNavbar">
    <md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="santauti">
        <md-nav-item md-nav-sref="home" name="Home">
            <label class = "testefont">Home</label>
        </md-nav-item>
        <spam flex></spam>
        <md-nav-item md-nav-sref="login" name="Logout" ng-click="destroySession()">
            <spam class="glyphicon glyphicon-user"></spam>
            <label class = "testefont">Logout</label>
        </md-nav-item>
    </md-nav-bar>
</md-content>
