<div class="content">
    <form>
        <div class="form-group">
            <label for="exameRespiratorio">Exame Respiratorio</label>
            <input type="text" class="form-control" id="exameRespiratorio" ng-model="dados.respiratorio.ExameRespiratorio">
        </div>
        <div class="form-group">
            <label for="parametroVentilatorio">Parametro Ventilatório</label><br>
            <input type="text" class="form-control" id="parametroVentilatorio" ng-model="dados.respiratorio.ParametroVentilatorio">
        </div>
        <div class="form-group">
            <label for="gasometriaArterial">Gasometria Arterial</label>
            <input type="text" class="form-control" id="gasometriaArterial" ng-model="dados.respiratorio.GasometriaArterial">
        </div>
        <div class="form-group">
            <label for="raioxTorax">Raio-x de Tórax</label> <br>
            <input type="text" class="form-control" id="raioxTorax" ng-model="dados.respiratorio.RaioxTorax">
        </div>
        <div class="form-group">
            <label for="pressaoCuff">Pressao do Cuff</label> <br>
            <input type="number" min="0" id="pressaoCuff" ng-model="dados.respiratorio.PressaoCuff">
        </div>
        <div class="form-group">
            <label for="canulaLatraquial">Cânula Latraquial</label> <br>
            <input type="number" min="0" id="canulaLatraquial" ng-model="dados.respiratorio.CanulaLatraquial">
        </div>
    </form>
</div>
