<!DOCTYPE html>
<html lang="en" >
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>santauti</title>
    <link rel="stylesheet" href="client-side/public/assets/css/style.css">
</head>
<script src="client-side/public/assets/js/lib/angular.min.js"></script>
<script src="client-side/public/assets/js/lib/angular-ui-router.min.js"></script>
<script src="client-side/public/assets/js/lib/angular-animate.min.js"></script>
<script src="client-side/public/assets/js/lib/angular-aria.min.js"></script>
<script src="client-side/public/assets/js/lib/ngMask.min.js"></script>
<script src="client-side/public/assets/js/lib/angular-messages.min.js"></script>
<script src="client-side/controllers/indexController.js"></script>
<body >

<!--<div ng-view></div>-->
<div action="/login" ng-app="app.index" id="login" ng-controller="indexCtrl">
    <form name='form-login' ng-submit="submit()">
        <span class="fontawesome-user"></span>
        <input type="text" id="user" ng-model="uname" placeholder="Usuario">

        <span class="fontawesome-lock"></span>
        <input type="password" id="pass" ng-model="passwd" placeholder="Senha">

        <input type="submit" value="Entrar">
    </form>
</div>
</body>
</html>
