.table-responsive {
    overflow-x: visible !important;
    overflow-y: visible !important;
}


.warning {
    background: #cdd400;
}
.danger{
    background: #ef0209;
}
.content_custom{
    background-color: #f7f7f7;
    position: relative;
}
.md-secondary{
    background-color: #0071bb!important;
    color: #d5e4ec!important;
}
.md-no-sticky{
    background-color: #f7f7f7!important;
}
.md-toolbar-tools{
    background-color: #0279c7!important;
    color: #f5ef15!important;
    align-items: center;
}
.paddin{
    padding-top: 20px;

}
.md-block{
    font-size: large!important;
}
.qr-img{
    border: solid;
}
.bgs{
    background-color: #f7f7f7;
}
