
<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="curvaTermica">Curva Termica</label>
                        <input type="text" class="form-control" id="curvaTermica" ng-model="dados.infeccioso.CurvaTermica">
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label >Antibiotico</label>
                        <input type="text" placeholder="Qual?" id="qualAntibiotico" ng-model="dados.infeccioso.NomeAntibiotico">
                    </md-input-container>

                    <md-input-container class="md-block" flex="10">
                        <label for="tempoAntibiotico">Tempo (em dias)</label>
                        <input type="number" min="0" id="tempoAntibiotico" ng-model="dados.infeccioso.TempoAntibiotico">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>

