<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="eventosSignificantes">Eventos significantes</a></li>
            <li><a ui-sref="neurologico">Neurologico</a></li>
            <li><a ui-sref="hemodinamica">Hemodinamica</a></li>
            <li><a ui-sref="respiratorio">Respiratório</a> </li>
            <li><a ui-sref="gastrointestinal">Gastrointestinal</a></li>
            <li><a ui-sref="renal">Renal</a></li>
            <li><a ui-sref="hematologico">Hematologico</a></li>
            <li><a ui-sref="endocrino">Endocrino</a></li>
            <li><a ui-sref="infeccioso">Infeccioso</a></li>
            <li><a ui-sref="metabolico">Metabolico</a></li>
            <li><a ui-sref="nutricao">Nutrição</a></li>
            <li><a ui-sref="psicosocial">Psicosocial</a></li>
            <li><a ui-sref="listaDeProblemas">Lista de Problemas</a></li>
            <li><a ui-sref="analise">Análise</a></li>
            <li><a ui-sref="planos">Planos</a></li>
            <li><a ui-sref="pendencias">Pendências</a></li>
            <li><a ui-sref="exames">Exames</a></li>
            <li><a ui-sref="examesLab">Exames Laboratoriais</a></li>
            <li><a ui-sref="interconsulta">Interconsulta/Parecer Especialista</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="login" ng-click="destroySession()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        </ul>
    </div>
</nav>

