<!--<md-toolbar md-theme="temaToolbar">
    <md-content layout="row">
    <md-button class="btnhl" aria-label="Home" ui-sref="home">
        <b>Home</b>
    </md-button>
    <h2 class="md-toolbar-tools" >
        <span class="head"><b>SantaUTI Ficha Diurna</b></span>
    </h2>
    <md-button class="btnhl" aria-label="Logout" ui-sref="login" ng-click="destroySession()">
        <span class="glyphicon glyphicon-user"></span>
        <b>Logout</b>
    </md-button>
    </md-content>
</md-toolbar>-->

<md-content class="md-padding" md-theme="temaNavbar">
    <md-nav-bar
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="santauti">
        <md-nav-item name="Home" md-nav-sref="home">
            <label class="testefont">Home</label>
        </md-nav-item>
        <spam flex></spam>
        <md-nav-item name="diaria" md-nav-sref="#">
            <label class="testefont">SantaUTI Ficha Diurna</label>
        </md-nav-item>
        <spam flex></spam>
        <md-nav-item  name="Logout" md-nav-click="destroySession()">
            <label class = "testefont">Logout</label>
        </md-nav-item>
    </md-nav-bar>
</md-content>

<div ui-view="informacaoBox" class="informacaoClass"> </div>
<md-tabs md-stretch-tabs
         md-selected="selectedIndex"
         md-dynamic-height md-border-bottom>
    <md-tab label="Eventos Significantes" ui-sref="tabs.eventosSig">

        <div ui-view="eventosSignificantes"></div>
    </md-tab>
    <md-tab label="Neurologico" ui-sref="tabs.neuroLogico">
        <div ui-view="neuroLogico"></div>
    </md-tab>
    <md-tab label="Hemodinamica" ui-sref="tabs.hemodinamica">
        <div ui-view="hemodinamica"></div>
    </md-tab>
    <md-tab label="Respiratório" ui-sref="tabs.respiratorio">
        <!--<div ui-view="informacaoBox"></div> CASO QUEIRA VOLTAR SÒ COLOCAR EM TUDO-->
        <div ui-view="respiratorio"></div>
    </md-tab>
    <md-tab label="Gastrointestinal" ui-sref="tabs.gastrointestinal">
        <div ui-view="gastrointestinal"></div>
    </md-tab>
    <md-tab label="Renal" ui-sref="tabs.renal">
        <div ui-view="renal"></div>
    </md-tab>
    <md-tab label="Hematologico" ui-sref="tabs.hematologico">
        <div ui-view="hematologico"></div>
    </md-tab>
    <md-tab label="Endocrino" ui-sref="tabs.endocrino">
        <div ui-view="endocrino"></div>
    </md-tab>
    <md-tab label="Infeccioso" ui-sref="tabs.infeccioso">
        <div ui-view="infeccioso"></div>
    </md-tab>
    <md-tab label="Metabolico" ui-sref="tabs.metabolico">
        <div ui-view="metabolico"></div>
    </md-tab>
    <md-tab label="Nutrição" ui-sref="tabs.nutricao">
        <div ui-view="nutricao"></div>
    </md-tab>
    <md-tab label="Psicosocial" ui-sref="tabs.psicosocial">
        <div ui-view="psicosocial"></div>
    </md-tab>
    <md-tab label="Lista de Problemas" ui-sref="tabs.listaproblemas">
        <div ui-view="listaproblemas"></div>
    </md-tab>
    <md-tab label="Análise" ui-sref="tabs.analise">
        <div ui-view="analise"></div>
    </md-tab>
    <md-tab label="Planos" ui-sref="tabs.planos">
        <div ui-view="planos"></div>
    </md-tab>
    <md-tab label="Pendências" ui-sref="tabs.pendencias">
        <div ui-view="pendencias"></div>
    </md-tab>
    <md-tab label="Exames" ui-sref="tabs.exames">
        <div ui-view="exames"></div>
    </md-tab>
    <md-tab label="Exames Laboratoriais" ui-sref="tabs.examesLab">
        <div ui-view="examesLab"></div>
    </md-tab>
    <md-tab label="Interconsulta/Parecer Especialista" ui-sref="tabs.interconsulta">
        <div ui-view="interconsulta"></div>
    </md-tab>
</md-tabs>

<main flex>
    <md-progress-linear md-mode="determinate" value="{{determinatedValue}}" ></md-progress-linear>
    <md-button ng-show="determinatedValue>=0" class="btnhl" aria-label="Enviar" ng-click="enviarFicha()">
        <b>Enviar</b>
    </md-button> <!--ui-sref="home"-->
</main>
