<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm" novalidate>
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label>Nível de Consciência</label>
                        <input ng-model="dados.neurologico.NivelConsciencia" >
                    </md-input-container>

                    <md-input-container class="md-block" flex="auto">
                        <label>Pupilas</label>
                        <input ng-model="dados.neurologico.Pupilas">
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label>Abertura Ocular</label>
                        <md-select id="respostaOcular" ng-model="dados.neurologico.AberturaOcular" ng-change="updateOcular(option)">
                            <md-option ng-repeat="option in respostaOcular.options" value="{{option.value}}">{{option.name}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex="auto">
                        <label>Resposta Verbal</label>
                        <md-select id="respostaVerbal" ng-model="dados.neurologico.RespostaVerbal" ng-change="updateVerbal(option)">
                            <md-option ng-repeat="option in respostaVerbal.options" value="{{option.value}}">{{option.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="auto">
                        <label>Resposta Motora</label>
                        <md-select class="form-group" id="respostaMotora" ng-model="dados.neurologico.RespostaMotora" ng-change="updateMotora(option)">
                            <md-option ng-repeat="option in respostaMotora.options" value="{{option.value}}">{{option.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="auto">
                        <label>Resultado</label>
                        <input  disabled ng-model="resultado">
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label >Deficit Motora</label>
                        <input type="text" class="form-control" ng-model="dados.neurologico.DeficitMotora">
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label >PIC</label>
                        <input type="number" min="0" ng-model="dados.neurologico.PIC">
                    </md-input-container>

                    <md-input-container class="md-block" flex="auto">
                        <label >PPC</label>
                        <input type="number" min="0" ng-model="dados.neurologico.PPC" ng-pattern="/^[0-9]*$/">
                    </md-input-container>

                    <md-input-container class="md-block" flex="auto">
                        <label >SjO2</label>
                        <input type="number" min="0" ng-model="dados.neurologico.SJO2" ng-pattern="/^[0-9]*$/" required>
                        <!--<div ng-messages="userForm.email.$error" role="alert" multiple>-->
                            <!--<div ng-message="required" >That doesn't look like a valid postal-->
                                <!--code.-->
                            <!--</div>-->
                        <!--</div>-->
                    </md-input-container>
                    <md-input-container class="md-block" flex="auto">
                        <label >Dose de Sedativo</label>
                        <input type="number" min="0" ng-model="dados.neurologico.DoseSedativo" ng-pattern="/^[0-9]*$/">
                    </md-input-container>
                </div>

                <div >
                    <md-input-container class="md-block" flex="55">
                        <label >Escala de Ramsay</label>
                        <md-select id="escalaRamsay" ng-model="dados.neurologico.EscalaRamsay" ng-change="updateEscalaRamsay(option)">
                            <md-option ng-repeat="option in escalaRamsay.options" value="{{option.value}}">{{option.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </form>
        </div>
    </md-content>

</div>
