<div class="content">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Raio-x de Torax</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.DataRaioxTorax"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.DataRaioxTorax"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.DataRaioxToraxDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Ecocardiograma</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.EcoCardiograma"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.EcoCardiograma"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.EcoCardiogramaDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Tomografia de Torax</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.TomografiaTorax"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.TomografiaTorax"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.TomografiaToraxDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Tomografia de Abdome</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.TomografiaAbdome"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.TomografiaAbdome"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.TomografiaAbdomeDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Tomografia de Cranio</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.TomografiaCranio"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.TomografiaCranio"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.TomografiaCranioDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Endoscopia Digestiva</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.EndoscopiaDigestiva"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.EndoscopiaDigestiva"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.EndoscopiaDigestivaDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Urina</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.Urina"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.Urina"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.UrinaDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Eletrocefalograma</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.Eletrocefalograma"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.Eletrocefalograma"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.EletrocefalogramaDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Eletrocardiograma</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group" moment-picker="dados.exame.Eletrocardiograma"
                         locale="pt-br"
                         format="L"
                         min-view="decade"
                         autoclose="true"
                         today="true">
                        <input name="DataNascimento" class="form-control"
                               placeholder="Selecione uma data"
                               ng-model="dados.exame.Eletrocardiograma"
                               ng-model-options="{ updateOn: 'blur' }">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="dados.exame.EletrocardiogramaDescricao">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Culturas</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea class="form-control" ng-model="dados.exame.CulturasDescricao" rows="5"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
