<div class="content">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Raio-x de Torax</label></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Descricao</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class='input-group date' id='dataRaioXTorax'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

    </form>
</div>
- Data exame realizado
- Hemoglobina
- Hematócrito
- Leucócitos
- Promielocitos %
- Mielocitos %
- Metamielocitos %
- Bastonetes %
- Segmentados %
- Eosinófilos %
- Basófilos %
- Linfócitos %
- Monócitos %
- Plaquetas x10^3
- Sódio
- Potássio
- Uréia
- Creatinina
- Magnésio
- Cálcio
- Fósforo
- Cloro
- PCR
- Albumina
- TAP/RNI
- TTPA
- Troponina
- CPK TOTAL
- CKMB
- Dímero D
- Glicose
- Fibrogênio
- PH
- PCO2
- PO2
- HCO3
- Saturaćao
- Saturaćao V. Central
- PaO2/FiO2
- Lactato
- Bbt/Bbd
- TGO/TGP
- GGT/FA
- Procalcitonina