<div ui-view='toolbar' ></div>

<div class="content">

    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <h3><label>Registro (*)</label></h3>
                </div>
                <div class="col-sm-4">
                    <h3><label>Usuario (*)</label></h3>
                </div>
                <div class="col-sm-4">
                    <h3><label>Senha</label></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input type="text" ng-model="cadastro.Registro" class="form-control">
                </div>
                <div class="col-sm-2 col-sm-offset-2">
                    <input type="text" ng-model="cadastro.Usuario" class="form-control">
                </div>

                <div class="col-sm-2 col-sm-offset-2">
                    <input type="password" ng-model="cadastro.Senha" class="form-control">
                </div>
            </div>

            <br><br>
            <div class="row">
                <div class="col-sm-3">
                    <div layout="row">
                        <md-input-container>
                            <label>Nivel Profissional</label>
                            <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                                <md-option ng-value="item" ng-repeat="item in TipoProfissional">{{item}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>


                <br><br>
                <div class="row">
                    <div class="col-sm-2" >
                        <button type="button" class="btn btn-primary btn-sm" ng-click="submit()">
                            <span class="glyphicon glyphicon-plus-sign"></span> Criar Usuário</button>
                    </div>
                </div>
            </div>
    </form>
</div>