<div ui-view='toolbar' ></div>

<div class="content">

    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <h3><label>Registro (*)</label></h3>
                </div>
                <div class="col-sm-4">
                    <h3><label>Usuario (*)</label></h3>
                </div>
                <div class="col-sm-4">
                    <h3><label>Senha</label></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input type="text" ng-model="cadastro.registro" class="form-control">
                </div>
                <div class="col-sm-2 col-sm-offset-2">
                    <input type="text" ng-model="cadastro.usuario" class="form-control">
                </div>

                <div class="col-sm-2 col-sm-offset-2">
                    <input type="password" ng-model="cadastro.senha" class="form-control">
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm-3">
                    <h3><label>Tipo de Profissional</label></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <select id="tipoProfissional" ng-model="profissional" ng-change="escolherProfissional(option)">
                        <option ng-repeat="option in tipoProfissional.options" value="{{option.value}}">{{option.name}}</option>
                    </select>
                </div>


                <br><br>
                <div class="row">
                    <div class="col-sm-2" >
                        <button type="button" class="btn btn-primary btn-sm" ng-click="criarProfissional()">
                            <span class="glyphicon glyphicon-plus-sign"></span> Criar Usuário</button>
                    </div>
                </div>
            </div>
    </form>
</div>