<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'pt-br'
                });
            });
        </script>
    </div>
</div>
<!--<div class="content">-->
    <!--<div class="row">-->
        <!--<div class='col-sm-6'>-->
            <!--<label class="label label-info">DateTimePicker (Angular Directive)</label>-->

            <!--<br/>-->
            <!--<input type="text"-->
            <!--class="form-control"-->
            <!--ng-model="vm.dateTime"-->
            <!--data-date-time-picker-->
            <!--data-language="{{pt-BR}}"-->
            <!--data-pick12HourFormat="false"-->
            <!--data-use-current="{{false}}"-->
            <!--data-location="{{pt-BR}}"-->
            <!--data-autoclose="{{true}}"-->
            <!--data-todayBtn="{{true}}"-->
            <!--data-orientation="{{top}}"-->
            <!--data-date-format="dd MM yyyy - HH:ii p"-->
            <!--/>-->

            <!--<br/>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="content">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h3><label>Antecedentes Pessoais</label></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h3><label>Diagnostico de Entrada</label></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h3><label>Comentarios</label></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="content">
    <div ng-repeat="item in items">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" placeholder="{{item.questionPlaceholder}}" ng-model="item.question">
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class='input-group date' id="{{'dataCadastrado' + item.id}}" data-date-format="dd MM yyyy - HH:ii p">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <br class="clearfix">
    </div>
    <button ng-click="add()">New Item</button>
</div>

<!--<div class="content">-->
<!--<div ng-repeat="item in items">-->
<!--<input type="text" placeholder="{{item.questionPlaceholder}}" ng-model="item.question">-->
<!--<input ng-class="{'blockInput': !item.inlineChecked}" type="text" placeholder="enter text..." ng-model="item.text">-->
<!--<input type="checkbox" name="check" value="inline" ng-model="item.inlineChecked"> Inline-->
<!--</div>-->
<!--<button ng-click="add()">New Item</button>-->
<!--</div>-->

Lista de problemas:
descricao , data cadastrado, data resolvido