<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
            <form name="userForm">
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="dieta">Dieta</label>
                        <textarea id="dieta" ng-model="dados.nutricao.dieta" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="outrasObs">Outras Observacoes</label>
                        <textarea id="outrasObs" ng-model="dados.nutricao.observacoes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </form>
    </md-content>
</div>