<div class="content">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Recebendo Dieta?</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="radio" name="dieta" id="simDieta" required>
                    <label for="simDieta">Sim</label>
                    <div class="reveal-if-active">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4><label>Dieta</label></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="dieta" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="dieta" id="naoDieta">
                    <label for="naoDieta">Não</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <h4><label for="comentarios">Outros comentários</label></h4>
            <textarea class="form-control" id="comentarios" rows="10"></textarea>
        </div>
    </form>
</div>