<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label>Familiares Inteirados?</label>
                        <textarea rows="5" md-maxlength="200" ng-model="dados.psicosocial.FamiliaresInteirados"></textarea>
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label>Depressa/Delirium?</label>
                        <textarea  md-maxlength="200" rows="5" ng-model="dados.psicosocial.Depressao"></textarea>
                    </md-input-container>
                </div>
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label >Acompanhamento Psicologico?</label>
                        <textarea ng-model="dados.psicosocial.AcompanhamentoPsicologico" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label >Terapia Ocupacional?</label>
                        <textarea ng-model="dados.psicosocial.TerapiaOcupacional" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label >Storm?</label>
                        <textarea ng-model="dados.psicosocial.Storm" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>

<md-content>
    <form>
        <label><h4>Familiares Inteirados?</h4></label>
        <md-input-container class="md-block">
            <md-radio-group ng-model="familiares">
                <md-radio-button Value="Sim" ng-value="true" aria-label="Sim">Sim</md-radio-button>
                <md-radio-button Value="Não" ng-value="false" aria-label="Não">Não</md-radio-button>
            </md-radio-group>
                <textarea ng-show="familiares"  id="dieta" rows="10" ng-model="dados.psicosocial.FamiliaresInteirados" md-select-on-focus aria-label="dieta"></textarea>
        </md-input-container>

        <label><h4>Depressa/Delirium?</h4></label>
        <md-input-container class="md-block">
            <md-radio-group ng-model="depres">
                <md-radio-button Value="Sim" ng-value="true" aria-label="Sim">Sim</md-radio-button>
                <md-radio-button Value="Não" ng-value="false" aria-label="Não">Não</md-radio-button>
            </md-radio-group>
            <textarea ng-show="depres" id="depressao" rows="10" ng-model="dados.psicosocial.Depressao" aria-label="depressao"></textarea>
        </md-input-container>

        <label><h4>Acompanhamento Psicológico?</h4></label>
        <md-input-container class="md-block">
            <md-radio-group ng-model="psico">
                <md-radio-button Value="Sim" ng-value="true" aria-label="Sim">Sim</md-radio-button>
                <md-radio-button Value="Não" ng-value="false" aria-label="Não">Não</md-radio-button>
            </md-radio-group>
            <textarea ng-show="psico"  id="acompanhamento" rows="10" ng-model="dados.psicosocial.AcompanhamentoPsico" aria-label="Psico"></textarea>
        </md-input-container>

        <label><h4>Terapia Ocupacional?</h4></label>
        <md-input-container class="md-block">
            <md-radio-group ng-model="tocup">
                <md-radio-button Value="Sim" ng-value="true" aria-label="Sim">Sim</md-radio-button>
                <md-radio-button Value="Não" ng-value="false" aria-label="Não">Não</md-radio-button>
            </md-radio-group>
            <textarea ng-show="tocup" id="terapia" rows="10" ng-model="dados.psicosocial.TerapiaOcupacional" aria-label="TOcup"></textarea>

        </md-input-container>

        <label><h4>Storm?</h4></label>
        <md-input-container class="md-block">
            <md-radio-group ng-model="storm">
                <md-radio-button Value="Sim" ng-value="true" aria-label="Sim">Sim</md-radio-button>
                <md-radio-button Value="Não" ng-value="false" aria-label="Não">Não</md-radio-button>
            </md-radio-group>
            <textarea ng-show="storm" id="storm" rows="10" ng-model="dados.psicosocial.Storm" aria-label="Storm"></textarea>
        </md-input-container>
    </form>
</md-content>
<!--
