<div class="content">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label for="diurese">Diurese</label>
                </div>
                <div class="col-sm-4">
                    <label for="peso">Peso</label><br>
                </div>
                <div class="col-sm-4">
                    <label for="balancoHidrico">Balanćo Hidrico</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="number" id="diurese">
                </div>
                <div class="col-sm-4">
                    <input type="number" id="peso">
                </div>
                <div class="col-sm-4">
                    <input type="number" id="balancoHidrico">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4><label >Dialise</label></h4>
                </div>
                <br class="clearfix">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="tipoDialise">Tipo</label>
                </div>
                <div class="col-sm-6">
                    <label for="volumeDialise">Volume</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="tipoDialise">
                </div>
                <div class="col-sm-6">
                    <input type="number" id="volumeDialise">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="escoriasRenais">Escorias Renais</label>
            <input type="text" class="form-control" id="escoriasRenais">
        </div>
    </form>
</div>
