<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout>
                    <md-input-container class="md-block" flex="40">
                        <label for="diurese">Diurese</label>
                        <input type="number" min="0" id="diurese" ng-model="dados.renal.Diurese">
                    </md-input-container>

                    <md-input-container class="md-block" flex="40">
                        <label for="peso">Peso</label>
                        <input type="number" min="0" id="peso" ng-model="dados.renal.Peso">
                    </md-input-container>

                    <md-input-container class="md-block" flex="40">
                        <label for="balancoHidrico">Balanćo Hidrico</label>
                        <input type="number" min="0" id="balancoHidrico" ng-model="dados.renal.BalancoHidrico">
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="tipoDialise">Tipo Diálise</label>
                        <input type="text" id="tipoDialise" ng-model="dados.renal.TipoDialise">
                    </md-input-container>

                    <md-input-container class="md-block" flex="10">
                        <label for="volumeDialise">Volume Diálise</label>
                        <input type="number" min="0" id="volumeDialise" ng-model="dados.renal.VolumeDialise">
                    </md-input-container>
                </div>
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="escoriasRenais">Escorias Renais</label>
                        <input type="text" id="escoriasRenais" ng-model="dados.renal.EscoriasRenais">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>

