<div class="content">
    <form>
        <div class="form-group">
            <label for="ritmo">Ritmo</label>
            <input type="text" class="form-control" id="ritmo" ng-model="dados.hemodinamica.Ritmo">
        </div>
        <div class="form-group">
            <label for="frequencia">Frequencia</label><br>
            <input type="number" min="0" id="frequencia" ng-model="dados.hemodinamica.Frequencia">
        </div>
        <div class="form-group">
            <label for="bulhas">Bulhas</label>
            <input type="text" class="form-control" id="bulhas" ng-model="dados.hemodinamica.Bulhas">
        </div>
        <div class="form-group">
            <label for="pam">PAM</label> <br>
            <input type="number" min="0" id="pam" ng-model="dados.hemodinamica.PAM">
        </div>
        <div class="form-group">
            <label for="drogasVasoativas">Drogas Vasoativas</label> <br>
            <input type="text" class="form-control" id="drogasVasoativas" ng-model="dados.hemodinamica.DrogasVasoativas">
        </div>
        <div class="form-group">
            <label for="pvc">PVC</label> <br>
            <input type="number" min="0" id="pvc" ng-model="dados.hemodinamica.PVC">
        </div>
        <div class="form-group">
            <label for="swanganz">Swan-Ganz</label> <br>
            <input type="text" class="form-control" id="swanganz" ng-model="dados.hemodinamica.Swanganz">
        </div>
        <div class="form-group">
            <label for="oxigenacaoTissular">Oxigenacão Tissular</label> <br>
            <input type="text" class="form-control" id="oxigenacaoTissular" ng-model="dados.hemodinamica.OxigenacaoTissular">
        </div>
    </form>
</div>
