<div class="content">
    <form>
        <div class="form-group">
            <label for="ritmo">Ritmo</label>
            <input type="text" class="form-control" id="ritmo">
        </div>
        <div class="form-group">
            <label for="frequencia">Frequencia</label><br>
            <input type="number" id="frequencia">
        </div>
        <div class="form-group">
            <label for="bulhas">Bulhas</label>
            <input type="text" class="form-control" id="bulhas">
        </div>
        <div class="form-group">
            <label for="pam">PAM</label> <br>
            <input type="number" id="pam">
        </div>
        <div class="form-group">
            <label for="drogasVasoativas">Drogas Vasoativas</label> <br>
            <input type="text" class="form-control" id="drogasVasoativas">
        </div>
        <div class="form-group">
            <label for="pvc">PVC</label> <br>
            <input type="number" id="pvc">
        </div>
        <div class="form-group">
            <label for="swanganz">Swan-Ganz</label> <br>
            <input type="text" class="form-control" id="swanganz">
        </div>
        <div class="form-group">
            <label for="oxigenacaoTissular">Oxigenacão Tissular</label> <br>
            <input type="text" class="form-control" id="oxigenacaoTissular">
        </div>
    </form>
</div>
