<div class="content">
    <form>
        <div class="form-group">
            <h4><label for="acidobase">Acido-base</label></h4>
            <input type="text" class="form-control" id="acidobase" ng-model="dados.metabolico.AcidoBase">
        </div>
        <div class="form-group">
            <h4><label for="antibiotico">Antibiotico</label></h4>
            <input type="text" class="form-control" id="antibiotico" ng-model="dados.metabolico.Antibiotico">
        </div>
        <div class="form-group">
            <h4><label for="funcaoHepatica">Função Hepática</label></h4>
            <input type="text" class="form-control" id="funcaoHepatica" ng-model="dados.metabolico.FuncaoHepatica">
        </div>
    </form>
</div>