<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="acidobase">Acido-base</label>
                        <input type="text" id="acidobase" ng-model="dados.metabolico.AcidoBase">
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="antibiotico">Antibiotico</label>
                        <input type="text" id="antibiotico" ng-model="dados.metabolico.Antibiotico">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block" flex="auto">
                        <label for="funcaoHepatica">Função Hepática</label>
                        <input type="text" id="funcaoHepatica" ng-model="dados.metabolico.FuncaoHepatica">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>