<div class="content">
    <form>
        <div class="form-group">
            <h4><label for="coagulograma">Coagulograma</label></h4>
            <input type="text" class="form-control" id="coagulograma" ng-model="dados.hematologico.Coagulograma">
        </div>
        <div class="form-group">
            <h4><label for="indiceHematimetrico">Indice Hematimetrico</label></h4>
            <input type="text" class="form-control" id="indiceHematimetrico" ng-model="dados.hematologico.IndiceHematimetrico">
        </div>
    </form>
</div>
