<div class="content">
    <form>
        <div class="form-group">
            <label for="exameAbdome">Exame do Abdome</label>
            <input type="text" class="form-control" id="exameAbdome">
        </div>
        <div class="form-group">
            <label for="debitoSondas">Debito de Sondas</label><br>
            <input type="text" class="form-control" id="debitoSondas">
        </div>
        <div class="form-group">
            <label for="evacuacoes">Evacuacoes</label>
            <input type="text" class="form-control" id="evacuacoes">
        </div>
    </form>
</div>