<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a ui-sref="santauti.home">Home</a></li>
            <li><a ui-sref="santauti.eventosSignificantes">Eventos significantes</a></li>
            <li><a ui-sref="santauti.neurologico">Neurologico</a></li>
            <li><a ui-sref="santauti.hemodinamica">Hemodinamica</a></li>
            <li><a ui-sref="santauti.respiratorio">Respiratório</a> </li>
            <li><a ui-sref="santauti.gastrointestinal">Gastrointestinal</a></li>
            <li><a ui-sref="santauti.renal">Renal</a></li>
            <li><a ui-sref="santauti.hematologico">Hematologico</a></li>
            <li><a ui-sref="santauti.endocrino">Endocrino</a></li>
            <li><a ui-sref="santauti.infeccioso">Infeccioso</a></li>
            <li><a ui-sref="santauti.dispositivos">Dispositivos</a></li>
            <li><a ui-sref="santauti.metabolico">Metabolico</a></li>
            <li><a ui-sref="santauti.nutricao">Nutrição</a></li>
            <li><a ui-sref="santauti.psicosocial">Psicosocial</a></li>
            <li><a ui-sref="santauti.listaDeProblemas">Lista de Problemas</a></li>
            <li><a ui-sref="santauti.analise">Análise</a></li>
            <li><a ui-sref="santauti.planos">Planos</a></li>
            <li><a ui-sref="santauti.pendencias">Pendências</a></li>
            <li><a ui-sref="santauti.exames">Exames</a></li>
            <li><a ui-sref="santauti.examesLab">Exames Laboratoriais</a></li>
            <li><a ui-sref="santauti.interconsulta">Interconsulta/Parecer Especialista</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="santauti.login" ng-click="destroySession()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        </ul>
    </div>
</nav>

