<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#/home" >Home</a></li>
            <li ng-class="{'active': button}"><a href="#/eventoSignificantes" ng-click="Button()" >Eventos significantes</a></li>
            <li><a href="#/neurologico">Neurologico</a></li>
            <li><a href="#/hemodinamica">Hemodinamica</a></li>
            <li><a href="#/respiratorio">Respiratório</a> </li>
            <li><a href="#/gastrointestinal">Gastrointestinal</a></li>
            <li><a href="#/renal">Renal</a></li>
            <li><a href="#/hematologico">Hematologico</a></li>
            <li><a href="#/endocrino">Endocrino</a></li>
            <li><a href="#/infeccioso">Infeccioso</a></li>
            <li><a href="#/dispositivos">Dispositivos</a></li>
            <li><a href="#/metabolico">Metabolico</a></li>
            <li><a href="#/nutricao">Nutrição</a></li>
            <li><a href="#/psicosocial">Psicosocial</a></li>
            <li><a href="#/listaDeProblemas">Lista de Problemas</a></li>
            <li><a href="#/analise">Análise</a></li>
            <li><a href="#/planos">Planos</a></li>
            <li><a href="#/pendencias">Pendências</a></li>
            <li><a href="#/exames">Exames</a></li>
            <li><a href="#/examesLab">Exames Laboratoriais</a></li>
            <li><a href="#/interconsulta">Interconsulta/Parecer Especialista</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" ng-click="destroySession()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        </ul>
    </div>
</nav>

