<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="glicemia">Glicemia</label>
                        <input type="text" ng-model="dados.endocrino.glicemia" id="glicemia">
                    </md-input-container>
                </div>

                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="usoInsulina">Uso de Insulina</label>
                        <input type="text" ng-model="dados.endocrino.insulina" id="usoInsulina">
                    </md-input-container>
                </div>
                <div layout>
                    <md-input-container class="md-block" flex="auto">
                        <label for="outrasObs">Outras Observacoes</label>
                        <textarea id="outrasObs" ng-model="dados.endocrino.observacoes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>