
.login-msg{
    font-family: "Roboto", sans-serif;
    color: #EF3B3A;
}

#card{
    padding-top: 50px;

}
.img_logo{
    padding-bottom: 50px;
}
#bg {
    position: fixed;
    background-color: #0071bb;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.md_toolbar{
    padding-top: 10px;
    min-height: 180px;
    display: block;
    align-items: center;
    color: #5bc0de;
    /*background-color: #5bc0de;*/
}
.login_conteudo{
    background-color: #FFFFFF;
}
.md-content {
    flex-shrink: 0;
}
.botao{
    full-width: 1;
    margin-left: 0px;
    margin-right: 0px;
    margin-top :10px;
    margin-bottom: 10px;
    background-color: #5bc0de;
}
.md-primary{
    background-color: #0071bb!important;
}
.md_card{
    max-width: 400px;
    width: 400px;
    height: 505px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.md_card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.md-headline{
    margin: 0;
}
.md-input-container ng-messages, md-input-container data-ng-messages {
    display: block;
}

.animate-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

