<div class="content">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Cateter Venoso Central</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="radio" name="cateterVenosoCentral" id="simCateterVenosoCentral" required>
                    <label for="simCateterVenosoCentral">Sim</label>
                    <div class="reveal-if-active">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4><label>Data de Inserção</label></h4>
                            </div>
                            <div class="col-sm-6">
                                <h4><label>Data de Remoção</label></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dataInsercaoCateterVenosoCentral'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dataRemocaoCateterVenosoCentral'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="cateterVenosoCentral" id="naoCateterVenosoCentral">
                    <label for="naoCateterVenosoCentral">Não</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Cateter de Hemodialise</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="radio" name="cateterHemodialise" id="simCateterHemodialise" required>
                    <label for="simCateterHemodialise">Sim</label>
                    <div class="reveal-if-active">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4><label>Data de Inserção</label></h4>
                            </div>
                            <div class="col-sm-6">
                                <h4><label>Data de Remoção</label></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dataInsercaoCateterHemodialise'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dataRemocaoCateterHemodialise'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="cateterHemodialise" id="naoCateterHemodialise">
                    <label for="naoCateterHemodialise">Não</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Cateter de PAI</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="radio" name="cateterPAI" id="simCateterPAI" required>
                    <label for="simCateterPAI">Sim</label>
                    <div class="reveal-if-active">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4><label>Data de Inserção</label></h4>
                            </div>
                            <div class="col-sm-6">
                                <h4><label>Data de Remoção</label></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dataInsercaoCateterPAI'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dataRemocaoCateterPAI'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="cateterPAI" id="naoCateterPAI">
                    <label for="naoCateterPAI">Não</label>
                </div>
            </div>
        </div>
    </form>

</div>


Dispositivos:
- Dreno de torax
- Dreno abdominal
- Sonda vesical
- Tubo orotraquial
- Traqueostomia
- gastrostomia
- venopolise
- sonda enteral
- Sonda oroenteral e nasoenteral
- sonda orogastrica
- sonda nasogastrical