<div class="content">
    <form>
        <div>
            <div>
                <input type="radio" name="choice-animals" id="choice-animals-dogs" required>
                <label for="choice-animals-dogs">Sim</label>

                <div class="reveal-if-active">
                    <div class="row">
                        <div class="col-sm-2">
                            <h4><label>Data de Inserção</label></h4>
                        </div>
                        <div class="col-sm-2">
                            <h4><label>Data de Remoção</label></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-sm-2'>
                            <div class="form-group">
                                <div class='input-group date' id='dataInsercao'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-2'>
                            <div class="form-group">
                                <div class='input-group date' id='dataRemocao'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input type="radio" name="choice-animals" id="choice-animals-cats">
                <label for="choice-animals-cats">Não</label>
            </div>
        </div>
    </form>

</div>


Dispositivos:
- cateter venoso central: sim ou nao + data insercao e retirada
- cateter de hemodialise
- cateter de PAI:
- Dreno de torax
- Dreno abdominal
- Sonda vesical
- Tubo orotraquial
- Traqueostomia
- gastrostomia
- venopolise
- sonda enteral
- Sonda oroenteral e nasoenteral
- sonda orogastrica
- sonda nasogastrical