<div class="content">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4><label>Cateter Venoso Central</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="cateterVenosoCentral" ng-click="cateterVenoso(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="cateterVenosoCentral" ng-click="cateterVenoso(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="cateterVenosoInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="cateterVenosoInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="cateterVenosoInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class="input-group date" id='date0' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date1' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Cateter de Hemodialise</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="cateterHemodialise" ng-click="cateterHemodialise(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="cateterHemodialise" ng-click="cateterHemodialise(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="cateterHemodialiseInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="cateterHemodialiseInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="cateterHemodialiseInput">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class='input-group date' id='date2' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date3' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Cateter de PAI</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="cateterPai" ng-click="cateterPai(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="cateterPai" ng-click="cateterPai(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="cateterPaiInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="cateterPaiInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="cateterPaiInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date4' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date5' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Dreno de Torax</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="drenoTorax" ng-click="drenoTorax(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="drenoTorax" ng-click="drenoTorax(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="drenoToraxInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="drenoToraxInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="drenoToraxInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date6' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date7' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Dreno de Abdome</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="drenoAbdominal" ng-click="drenoAbdominal(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="drenoAbdominal" ng-click="drenoAbdominal(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="drenoAbdominalInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="drenoAbdominalInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="drenoAbdominalInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date8' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date9' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Sonda Vesical</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="sondaVesical" ng-click="sondaVesical(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="sondaVesical" ng-click="sondaVesical(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="sondaVesicalInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="sondaVesicalInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="sondaVesicalInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date10' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date11' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Tubo Orotraquial</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="tuboOrotraquial" ng-click="tuboOrotraquial(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="tuboOrotraquial" ng-click="tuboOrotraquial(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="tuboOrotraquialInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="tuboOrotraquialInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="tuboOrotraquialInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date12' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date13' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Traqueostomia</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="traqueostomia" ng-click="traqueostomia(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="traqueostomia" ng-click="traqueostomia(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="traqueostomiaInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="traqueostomiaInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="traqueostomiaInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date14' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date15' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <h4><label>Venóclise</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="venoclise" ng-click="venoclise(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="venoclise" ng-click="venoclise(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="venocliseInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="venocliseInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="venocliseInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date16' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date17' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4><label>Sonda Enteral</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="sondaEnteral" ng-click="sondaEnteral(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="sondaEnteral" ng-click="sondaEnteral(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="sondaEnteralInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="sondaEnteralInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="sondaEnteralInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date18' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date19' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4><label>Sonda Oroenteral</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="sondaOroenteral" ng-click="sondaOroenteral(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="sondaOroenteral" ng-click="sondaOroenteral(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="sondaOroenteralInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="sondaOroenteralInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="sondaOroenteralInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date20' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date21' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4><label>Sonda Nasoenteral</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="sondaNasoenteral" ng-click="sondaNasoenteral(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="sondaNasoenteral" ng-click="sondaNasoenteral(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="sondaNasoenteralInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="sondaNasoenteralInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="sondaNasoenteralInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date22' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date23' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4><label>Sonda Orogastrica</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="sondaOrogastrica" ng-click="sondaOrogastrica(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="sondaOrogastrica" ng-click="sondaOrogastrica(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="sondaOrogastricaInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="sondaOrogastricaInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="sondaOrogastricaInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date24' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date25' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4><label>Sonda Nasogastrical</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="radio" name="sondaNasoGastrical" ng-click="sondaNasoGastrical(true)">
                    <label>Sim</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="sondaNasoGastrical" ng-click="sondaNasoGastrical(false)">
                    <label >Não</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" ng-show="sondaNasoGastricalInput">
                    <h4><label>Data de Inserção</label></h4>
                </div>
                <div class="col-sm-2" ng-show="sondaNasoGastricalInput">
                    <h4><label>Data de Remoção</label></h4>
                </div>
            </div>
            <div class="row" ng-show="sondaNasoGastricalInput">
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date26' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class="form-group">
                        <div class='input-group date' id='date27' datetimepicker>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
